<% var title = 'Deposit' %>
<% var current = 'deposit' %>
<% include ../additional/header %>
<div class="main-container no-bg">
	<div class="deposit-box content-box">
		<div class="deposit-body">
			<h1>Deposit</h1>
	    <p class="inventory-amount"></p>
			<div class="inventory-content">
	      <div class="inventory-container">

	      </div>
	    </div>
		</div>
    <div class="deposit-footer">
      <button type="submit" class="btn btn-primary" disabled>Deposit items...</button>
    </div>
	</div>
</div>

<% include ../additional/footer %>
