<% var title = 'Home' %>
<% var current = 'home' %>
<% include additional/header %>
<div class="left-container">
	<div class="jackpot-history">
		<div class="history-item active">
			<p class="history-heading">Current</p>
			<p class="history-info">0:45</p>
			<p class="history-footer">remaining</p>
		</div>
		<div class="history-item">
			<p class="history-heading">Jackpot</p>
			<p class="history-info">#17</p>
			<p class="history-footer">$876.34</p>
		</div>
		<div class="history-item">
			<p class="history-heading">Jackpot</p>
			<p class="history-info">#16</p>
			<p class="history-footer">$312.54</p>
		</div>
		<div class="history-item">
			<p class="history-heading">Jackpot</p>
			<p class="history-info">#15</p>
			<p class="history-footer">$9312.60</p>
		</div>
		<div class="history-item">
			<p class="history-heading">Jackpot</p>
			<p class="history-info">#14</p>
			<p class="history-footer">$472.17</p>
		</div>
		<div class="history-item">
			<p class="history-heading">Jackpot</p>
			<p class="history-info">#13</p>
			<p class="history-footer">$76.56</p>
		</div>
		<div class="history-item">
			<p class="history-heading">Jackpot</p>
			<p class="history-info">#12</p>
			<p class="history-footer">$278.67</p>
		</div>
		<div class="history-item">
			<p class="history-heading">Jackpot</p>
			<p class="history-info">#11</p>
			<p class="history-footer">$783.98</p>
		</div>
		<div class="history-item">
			<p class="history-heading">Jackpot</p>
			<p class="history-info">#10</p>
			<p class="history-footer">$3412.13</p>
		</div>
	</div>
</div>
<div class="main-container">
	<div class="jackpot-info content-box">
		<div class="info-1">
			<div class="info-items">
				<h1>Jackpot <span class="bold">#18</span></h1>
				<div id="info-time" class="info-item">
					<p class="info-heading">Time</p>
					<p class="info-content">0:45</p>
				</div>
				<div id="info-players" class="info-item">
					<p class="info-heading">Players</p>
					<p class="info-content">7</p>
				</div>
				<div id="info-items" class="info-item">
					<p class="info-heading">Items</p>
					<p class="info-content">11/50</p>
				</div>
				<div id="info-price" class="info-item">
					<p class="info-heading">Worth</p>
					<p class="info-content">$1200.46</p>
				</div>
			</div>
		</div>
		<div class="info-2">
			<div class="info-items">
				<div id="info-deposit" class="info-item">
					<p class="info-heading">Your Deposit</p>
					<p class="info-content">3 items</p>
				</div>
				<div id="info-price" class="info-item">
					<p class="info-heading">Worth</p>
					<p class="info-content">$312.40</p>
				</div>
				<div id="info-percent" class="info-item">
					<p class="info-heading">Win Chance</p>
					<p class="info-content">26.02%</p>
				</div>
			</div>
		</div>
	</div>
	<div class="jackpot-deposit content-box">
		<% if(typeof user === 'undefined' || user == null) { %>
		<p class="info-heading">Sign in to Bet</p>
		<p class="info-content"><a href="/auth/steam"><img src="img/signin_large_blue.png"></a></p>
		<% } else { %>
		<p class="add-items"><a>Add items to bet...</a></p>
		<% } %>
	</div>
	<div class="jackpot-listing content-box">
		<div class="listing-item">
			<i class="fa fa-plus fa-fw" aria-hidden="true"></i>
			<p class="listing-content"><img class="profile-picture" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/92/922d1e4a5f5bfc274665dd65f34be4bebade6244.jpg"><span class="name">Faction</span> deposited 1 items worth <span>$283.47</span>. <span class="notice">(Tickets 15424-43770)</span></p>
		</div>
		<div class="listing-item">
			<i class="fa fa-plus fa-fw" aria-hidden="true"></i>
			<p class="listing-content"><img class="profile-picture" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e4/e48aff629db95e863266c70ab2430d7eb25e1e67.jpg"><span class="name">twitch.tv/gino20021</span> deposited 10 items worth <span>$130.45</span>. <span class="notice">(Tickets 2380-15424)</span></p>
		</div>
		<div class="listing-item">
			<i class="fa fa-plus fa-fw" aria-hidden="true"></i>
			<p class="listing-content"><img class="profile-picture" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/92/92ce9814f39ad58e0d8624955ca7ed8f75068e7d.jpg"><span class="name">Ababa</span> deposited 4 items worth <span>$23.80</span>. <span class="notice">(Tickets 0-2379)</span></p>
		</div>
		<hr />
		<div class="listing-item">
			<i class="fa fa-lock fa-fw" aria-hidden="true"></i>
			<p class="listing-content">Hash of this round is <span>72ed371442f6b883a5282c63322e76f3</span>. <span class="notice">(What's this?)</span></p>
		</div>
		<div class="listing-item round-start">
			<i class="fa fa-asterisk fa-fw" aria-hidden="true"></i>
			<p class="listing-content">Round <span>#17</span> started on Cobblestone.</p>
		</div>
	</div>
</div>
<% include additional/footer %>