<%/* var title = 'Error - ' + message */%>
<%/* var current = 'error' */%>

<%/* include header */%>

	<div class="main-content">
		<%/* message */%>
		<%/* error.status */%>
		<%/* error.stack */%>
	</div>
  
<% include footer %>