<div class="user-item-box item-classified">
	<h5 class="user-item-title"><%= item.name %></h5>
	<h6 class="user-item-specs"><%= item.wear %></h6>
	<img class="user-item-image" src="//steamcommunity-a.akamaihd.net/economy/image/<%= item.imageid %>/134fx84f">
	<h4 class="user-item-price">$<%= item.price %></h4>
</div>