<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Luuc">
		<title><%= title %> - Jackpot Site</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
	</head>
	<body>
		<div class="main-header">
			<nav class="navbar navbar-light bg-faded">
				<a class="navbar-brand" href="/">Jackpot</a>
				<ul class="nav navbar-nav">
					<li class="nav-item <% if(typeof current != 'undefined') { if(current == 'home') {%>active<% }} %>">
						<a class="nav-link" href="/">Home<% if(typeof current != 'undefined') { if(current == 'home') {%> <span class="sr-only">(current)</span><% }} %></a>
					</li>
					<li class="nav-item <% if(typeof current != 'undefined') { if(current == 'history') {%>active<% }} %>">
						<a class="nav-link" href="#">History<% if(typeof current != 'undefined') { if(current == 'history') {%> <span class="sr-only">(current)</span><% }} %></a>
					</li>
					<li class="nav-item <% if(typeof current != 'undefined') { if(current == 'help') {%>active<% }} %>">
						<a class="nav-link" href="#">Help<% if(typeof current != 'undefined') { if(current == 'help') {%> <span class="sr-only">(current)</span><% }} %></a>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-xs-right">
					<% if(typeof user === 'undefined' || user == null) { %>
						<li class="nav-item">
							<a id="nav-login" class="nav-link" href="/auth/steam"><img src="img/signin_small_blue.png"></a>
						</li>
					<% } else { %>
						<li class="nav-item <% if(typeof current != 'undefined') { if(current == 'myaccount') {%>active<% }} %>">
							<a class="nav-link" href="/account">My Account<% if(typeof current != 'undefined') { if(current == 'myaccount') {%> <span class="sr-only">(current)</span><% }} %></a>
						</li>
						<li class="nav-item dropdown <% if(typeof current != 'undefined') { if(current == 'myprofile') {%>active<% }} %>">
							<a id="account-dropdown" class="nav-link" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= user.lastKnownName %> <img class="profile-picture" src="<%= user.avatars.normal %>"><span class="caret"></span><% if(typeof current != 'undefined') { if(current == 'myprofile') {%> <span class="sr-only">(current)</span><% }} %></a>
							<div class="dropdown-menu" aria-labelledby="Account">
                <a class="dropdown-item" href="/deposit"><i class="fa fa-inbox fa-fw" aria-hidden="true"></i> Deposit</a>
                <a class="dropdown-item" href="/withdraw"><i class="fa fa-university fa-fw" aria-hidden="true"></i> Withdraw</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Show Profile</a>
								<a class="dropdown-item" href="/auth/logout"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Logout</a>
							</div>
						</li>
					<% } %>
				</ul>
			</nav>
		</div>
