<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Luuc">
		<title><%= title %> - Jackpot Site</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
	</head>
	<body>
		<div class="main-header">
			<nav class="navbar navbar-light bg-faded">
				<a class="navbar-brand" href="index.html">Jackpot</a>
				<ul class="nav navbar-nav">
					<li class="nav-item <% if(typeof current != 'undefined') { if(current == 'home') {%>active<% }} %>">
						<a class="nav-link" href="index.html">Home<% if(typeof current != 'undefined') { if(current == 'home') {%> <span class="sr-only">(current)</span><% }} %></a>
					</li>
					<li class="nav-item <% if(typeof current != 'undefined') { if(current == 'history') {%>active<% }} %>">
						<a class="nav-link" href="#">History<% if(typeof current != 'undefined') { if(current == 'history') {%> <span class="sr-only">(current)</span><% }} %></a>
					</li>
					<li class="nav-item <% if(typeof current != 'undefined') { if(current == 'help') {%>active<% }} %>">
						<a class="nav-link" href="#">Help<% if(typeof current != 'undefined') { if(current == 'help') {%> <span class="sr-only">(current)</span><% }} %></a>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-xs-right">
					<% if(typeof user === 'undefined' || user == null) { %>
						<li class="nav-item" id="nav-login"><a href="/auth/steam"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png"></a></li>
					<% } else { %>
						<li class="nav-item <% if(typeof current != 'undefined') { if(current == 'myaccount') {%>active<% }} %>">
							<a class="nav-link" href="account.html">My Account<% if(typeof current != 'undefined') { if(current == 'myaccount') {%> <span class="sr-only">(current)</span><% }} %></a>
						</li>
						<li class="nav-item dropdown <% if(typeof current != 'undefined') { if(current == 'myprofile') {%>active<% }} %>">
							<a id="account-dropdown" class="nav-link" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= user.lastKnownName %> <img class="profile-picture" src="<%= user.avatars.normal %>"><span class="caret"></span><% if(typeof current != 'undefined') { if(current == 'myprofile') {%> <span class="sr-only">(current)</span><% }} %></a>
							<div class="dropdown-menu" aria-labelledby="Account">
								<a class="dropdown-item" href="#">Show Profile</a>
								<a class="dropdown-item" href="/auth/logout">Logout</a>
							</div>
						</li>
					<% } %>
				</ul>
			</nav>
		</div>